

{:breadcrumb_active}
	<a href="{lnk}" class="bc_{cssId}">{label}</a>
{/breadcrumb_active}
{:breadcrumb_link}
	<a href="{lnk}" class="bc_{cssId}">{label}</a>
{/breadcrumb_link}


{:menu}
	<ul id="menu" class="main-nav">{items}</ul>
{/menu}

{:1}
	<li id="menuLink_{table}_{pk}"><a href="{lnk}" class="active_{active} ">{label}</a></li>
{/1}

{:1_parent}
	<li id="menuLink_{table}_{pk}" class="hasChildren">
		<a href="{lnk}" class="active_{active}">{label} </a>
		<ul>
			{items}
		</ul>
	</li>
{/1_parent}


{:2}
	<li id="menuLink_{table}_{pk}">
		<a href="{lnk}" class="active_{active} ">{label}</a>
	</li>
{/2}

{:2_parent}
	<li  id="menuLink_{table}_{pk}">
		<a href="{lnk}" class="active_{active} ">{label}</a>
		<ul>{items}</ul>
	</li>
{/2_parent}


{:3}
	<li><a href="{lnk}" class="active_{active} ">{label}</a></li>
{/3}

