
{:htmlHead}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="twitter:site" value="<% if (props.isFreestone){ %>{var:twitterAccount}<% } %>">
		<meta name="twitter:creator" value="<% if (props.isFreestone){ %>{var:twitterAccount}<% } %>">

		<link rel="icon" type="image/png" href="<% if (props.isFreestone){ %>{dir}/<% } %>img/favicon.png" />
		<link rel="stylesheet" href="<% if (props.isFreestone){ %>{dir}/<% } %>css/main.css">
		<script src="<% if (props.isFreestone){ %>{dir}/<% } %>js/vendor/modernizr.js"></script>

		<script>
			(function(ns){
				//global config vars
				ns.baseUrl = '<% if (props.isFreestone){ %>{dir}<% } %>/js';
				ns.homeUrl = <% if (props.isFreestone){ %>'{server}'<% } else { %> '<%= props.homeurl %>'<% } %> ;
				ns.lang = '£';
				
			})(window.<%= props.projectNamespace %> = window.<%= props.projectNamespace %> || {});
		</script>



{/htmlHead}

{:header}
	<header>
		<% if (props.isFreestone){ %>{mod:Nav.menu}<% } %>
	</header>
{/header}


{:footer}
	<footer></footer>

	<div id="fb-root"></div>
	<script>

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '<% if (props.isFreestone){ %>{var:urchin}<% } %>', 'auto');
		ga('send', 'pageview');

		/** FACEBOOK */
		window.fbAsyncInit = function() {
			FB.init({
				appId : '<% if (props.isFreestone){ %>{var:facebook_appid}<% } %>'
			});

		};

		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/<% if (props.isFreestone){ %>{lng.fr:fr_CA}{lng.en:en_US}<% } else { %>fr_CA<% } %>/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
		
		
		/** TWITTER */
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
	<% if (props.isBrowserify){ %>
	<script src="<% if (props.isFreestone){ %>{dir}/<% } %>js/common.js"></script>
	<script src="<% if (props.isFreestone){ %>{dir}/<% } %>js/app.js"></script>
	<% }%>
	<% if (!props.isBrowserify){ %>
	<script src="<% if (props.isFreestone){ %>{dir}/<% } %>js/vendor/es5-shim.js"></script>
	<script src="<% if (props.isFreestone){ %>{dir}/<% } %>js/vendor/es5-sham.js"></script>
	<script src="<% if (props.isFreestone){ %>{dir}/<% } %>js/vendor/jquery.js"></script>
	<script src="<% if (props.isFreestone){ %>{dir}/<% } %>js/main.js"></script>
	<% }%>

{/footer}

