<!doctype html>
<html class="no-js">
	<head>
		{include:html-head}

		<meta name="description" content="<% if (props.isFreestone){ %>{fld:page.metaDesc_£}<% } %>">
		<% if (!props.isFreestone){ %> <link rel="canonical" href="<%= props.homepage %>/index.html"><% } %>

		<!-- Facebook, Twitter and G+ Meta tags -->
		<meta property="og:title" content="<% if (props.isFreestone){ %>{fld:page.title_£}<% } %>" />
		<meta property="og:url" content="<% if (props.isFreestone){ %>{lnk:page,{fld:page.id}}<% } %>" />
		<meta property="og:site_name" content="<% if (props.isFreestone){ %>{var:site_name}<% } %>"/>

		
		<% if (props.isFreestone){ %>
		<meta property="og:image" content="{var:facebookImg}" />

		[if pageFacebookDesc:<meta property="og:description" content="{fld:page.metaDesc_£:pageFacebookDesc}" />]
		[if !pageFacebookDesc:<meta property="og:description" content="{var:facebookDesc_£}" />]
		<% } else { %>
		<meta property="og:description" content="" />
		<meta property="og:image" content="img/facebook.jpg" />
		<% } %>
		
		<meta property="og:type" content="article" />
		<meta name="twitter:card" value="{fld:page.metaDesc_£}">
		
		<script>
			(function(ns){
				
			})(window.<%= props.projectNamespace %> = window.<%= props.projectNamespace %> || {});
		</script>

		<title></title>
	</head>
	<body>
		{include:header}
		
		{include:footer}
	</body>
</html>

